html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.gradient-hover {
  border: 0px solid;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.gradient-hover:hover {
  background-image: linear-gradient(to left, #15aabf, #4263eb);
  background-size: 100% 100%;
}