html,
html {
  overflow-y: scroll;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  /* overflow-y: scroll; */
}

a {
  color: inherit;
  text-decoration: none;
}

.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
